{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Content | Documents | {{ entity.title }}{% endblock headline %}
{% block title %}Console: Content Documents{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('console_content') }}">Content</a></li><li><a href="{{ path('console_content_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></li><li class="current">Documents</li>{% endblock breadcrumbs %}

{% block content_content %}

    <form action="{{ path('console_content_document_update', { 'id': entity.content.id, 'document_id': entity.id }) }}" class ="form-horizontal" method="post" {{ form_enctype(edit_form) }} novalidate>
        {{ form_widget(edit_form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Documents</h3>
    </div>
    <div class="panel-body">
        <p><a href="{{ path('console_content_documents', { 'id': entity.content.id }) }}" class="btn btn-default">Back to Documents</a></p>

        {% if is_granted('ROLE_SUPER_ADMIN') %}<a href="{{ path('console_content_document_delete', { 'id': entity.content.id, 'document_id': entity.id }) }}" class="btn btn-danger">Remove</a>{% endif %}
    </div>
</div>
{% endblock content_sidebar %}
